body {
  font-family: 'Roboto', sans-serif;
}

fieldset {
  border: 0;
}

hr {
  height: 2px;
  border: none;
  background-color: #f0f0f0;
}

main {
  background-color: #fcfcfc;
  padding: 20px;
  min-height: calc(100vh - 40px);
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.form-row {
  width: 100%;
  display: flex;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.3%;
}

.col-3 {
  width: 25%;
}


.align-center, .align-end, .justify-end {
  display: flex;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-end {
  justify-content: flex-end;
}

.hide {
  display: none;
}

input[type=text],
input[type=number],
select
{
  border: 1px solid #444;
  padding: 7px 15px;
  min-width: 200px;
}

select {
  cursor: pointer;
}

label {
  margin-bottom: 5px;
}

.rounded {
  border-radius: 4px;
}

.square {
  border-radius: 0;
}

.btn {
  padding: 7px 12px;
  border: 1px solid;
  transition: all .2s;
  cursor: pointer;
  min-width: 150px;
}

.btn-primary {
  border-color: #444;
  background-color: #444;
  color: #FFF;
}

.btn-primary:hover {
  background-color: #000;
}

.btn-secondary {
  border-color: #444;
  background: #FFF;
  color: #444;
}

.btn-secondary:hover {
  background-color: #f0f0f0;
}

.btn-secondary:disabled {
  opacity: 0.8;
  background-color: #f0f0f0;
}

.btn-icon {
  min-width: auto;
  background: transparent;
  color: #444444;
  border-color: #444444;
}



/* Specific Styling */

.new-ingredient-container {
  margin-top: 20px;
}

.form-submit-container .col-12 {
  display: flex;
  justify-content: flex-end;

  .btn[type=submit] {
    margin-left: 20px
  }
}